.site-navbar{
	background-color: #FFFFFF;
}

.navbar-brand-text{
	color: #000000;
	font-size: 18px;
	font-family: 'Arimo', sans-serif;
}

.font-zero{	
	font-family: 'Orbitron', sans-serif;
	display: inline-block;
}

.form-subtitle{
	color: #1565C0;
}

.booking-table th
{
	text-align: center;
}

#dataTable_wrapper{
	overflow: hidden;
}

.booking-list td,
.booking-list th{
	text-align: center;
}
.vertical-middle{
	vertical-align: middle !important;
}

tr.text-center td{
	text-align: center !important;
}

a.btn{
	text-decoration: none;
}

.time-select{
	margin: 10px 0;
}

.table-title{
	text-align: center;
	margin-bottom: 30px;
}

#add-row{
	color: #FFFFFF;
}

.datepicker{
	z-index: 9999;
}