body{
	font-family: 'Cabin', sans-serif;
}

.dd-menu > li > a{
	color: #FFF;
}
.site-header{
	background-color: #F44336;
}

.gallery-item img{
	width: 100%;
	height: auto;
}

.icon-box .ibox-icon i{
	color: #03A9F4 !important;
}

.site-footer{
	background-color: #03A9F4;
}

.site-footer .footer_widget a,
.site-footer a,
.site-footer span{
	color: #FFFFFF;
}

.text-white li{
	color: #FFFFFF;
}

.footer-row3 p{
	color: #FFFFFF;
}

.footer-row3 a{
	color: #000000;
}

.book-box{
	position: absolute;
	right: 100px;
	bottom: 50px;
	width: 350px;
	height: 300px;
	background-color: rgba(255,255,255,.5);
	z-index: 9999;
	padding: 17px;

}

#booking-table{
	margin: 50px 0;
}

.booking tr>th,
.booking tr>td{
	text-align: center;
}

.vertical-middle{
	vertical-align: middle !important;
}

.form-title{
	font-size: 16px;
	color: #03A9F4;
}

.booking-form{
	margin: 30px 0;
	padding: 30px;
	border: 1px solid #03A9F4;
}

#main-container{
	padding: 80px 0;
}

.btn-primary{
	background: #03A9F4;
}

.btn-primary.disabled{
	background-color: #03A9F4;
	opacity: .5;
}

.book-box .row{
	margin: 5px 0;
}
.book-box h3,
.book-box h4,
.book-box h5{
	text-align: center;
}